* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
  background: rgb(85, 52, 165);
  background: linear-gradient(
    160deg,
    rgba(85, 52, 165, 1) 0%,
    rgba(168, 92, 249, 1) 67%,
    rgba(75, 123, 229, 1) 100%
  );
  background-repeat: no-repeat;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}

main {
  background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.39);
  margin: 20px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
  gap: 20px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  font-size: 1.4rem;
  font-weight: bold;
}

.input label {
  white-space: nowrap;
}

.input input {
  border-radius: 5px;
  border: none;
  outline: 0;
  font-size: 1.4rem;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

button {
  padding: 5px 30px;
  color: #f2f2f2;
  font-size: 1.4rem;
  font-weight: bold;
  outline: none;
  background-color: rgba(85, 52, 165, 1);
  border: 2px solid rgba(85, 52, 165, 1);
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 350px;
  padding: 20px;
  border-right: 2px solid white;
  font-size: 1.5rem;
  text-align: center;
}

.result h2 {
  font-size: 1.5rem;
}

.result p {
  font-size: 1.2rem;
}

footer a {
  text-decoration: none;
  color: #f2c48d;
  font-weight: 600;
}

@media (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    max-width: 300px;
    padding: 20px 50px;
    gap: 20px;
  }

  .result {
    padding: 0 20px 20px 20px;
    border-right: none;
    border-bottom: 2px solid white;
    font-size: 1.2rem;
  }

  .input {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    font-size: 1rem;
    font-weight: bold;
  }

  .input input {
    border-radius: 5px;
    border: none;
    outline: 0;
    font-size: 1rem;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
  }
}
